<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HANBOARD</title>
</head>
<body>
<div th:insert="fragments/menuHeader :: header"></div>
<div style="position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 60%; " th:object="${post}">
    <div th:align="right">
        <a style="text-decoration-line: none" th:href="@{/post/{id}/edit(id=${post.id})}">
            <button class="btn btn-primary" type="button">게시물 수정</button>
        </a>
        <a th:href="@{/post/{id}/delete(id=${post.id})}">
            <button class="btn btn-danger" type="button">게시물 삭제</button>
        </a>
    </div>
    <table>
        <thead>
        <table>
            <tr>
                <th th:text="${post.title}">타이틀이 들어갈 부분입니다.</th>
            </tr>
        </table>
        </thead>

        <tbody>
        <hr>
        <p th:text="${post.content}">내용이 들어갈 부분입니다.</p>
        <hr>
        </tbody>
    </table>
    <table style="width: 100%">
        <tr>
            <th>작성자</th>
            <th>내용</th>
            <th>작성시간</th>
        </tr>
        <tr style="margin: auto" th:each="comment : ${post.getComments()}">
            <td th:text="${comment.getAuthor()}"></td>
            <td th:text="${comment.getContent()}"></td>
            <td th:text="${comment.getCreated()}"></td>
        </tr>
        </tbody>
    </table>

    <hr>
    <div style="height: auto; margin-left: auto; margin-right: auto; display: flex; flex-direction: row; justify-content: center; align-items: center">
        <label for="commentForm" style="margin-right: 2px">댓글 작성하기 : </label>
        <form id="commentForm" method="post" style="width: auto; display: flex;"
              th:action="@{/post/{id}/comment(id=${post.id})}">
            <input class="form-control" id="content" name="content" placeholder="댓글을 입력해주세요." style="width: 500px"
                   type="text">
            <button class="btn btn-primary" style="margin-left: 3px" th:text="작성하기" type="submit"></button>
        </form>
    </div>
</div>
</body>
</html>