<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HANBOARD</title>
</head>
<body>
<div th:insert="fragments/menuHeader :: header"></div>
<div style="position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%;">
    <div th:align="right">
        <button class="btn btn-light" th:onclick="|location.href='@{/post/new}'|" type="button">글 작성하기</button>
    </div>
    <table class="table table-striped" th:object="${postList}">
        <thead class="thead-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성시간</th>
        </tr>
        </thead>

        <tr th:each="each : ${postList}" th:href="@{/post/{id} (id=${each.id})}">
            <td th:text="${each.id}"></td>
            <td>
                <a style="color:black; text-decoration: none;" th:href="@{/post/{id} (id=${each.id})}"
                   th:text="${each.title}"></a>
            </td>
            <td th:text="${each.author}"></td>
            <td th:text="${each.createdTime}"></td>
        </tr>
    </table>
</div>
</body>
</html>